.git
.next
node_modules
dist
output
_artifacts
_workspace
.claude
.agents

.env
.env.*
!.env.example

*.log
*.err
*.tsbuildinfo

README*.md
docs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
